# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.log
.DS_Store
data/
*.txt
*.pbix
dashboard/Background dark.jpg
dashboard/Background dark.pptx
dashboard/down.png
dashboard/metrics.xlsx
dashboard/up-arrow.png
